{%extends "base.html"%}

{%block content%}
    {%block content_top%}{%endblock%}
    <div class = "top paginator">{%include "i_paginator.html"%}</div>
    <hr>
    <div>
    {%for p in products%}
        <span class = "span-3 product">
            <a href = "/products/{{p.pk}}">
                <img src = "{{STATIC_URL}}images/empty.jpeg" alt = "empty">
                <div>{{p.name}}</div>
            </a>
            <p>Cost: {{p.cost}} <b>&euro;</b></p>
        </span>
    {%endfor%}
    </div>
    <div class = "bottom paginator">{%include "i_paginator.html"%}</div>
    {%block content_bottom%}{%endblock%}
{%endblock%}
