{%extends "base.html"%}

{%block content%}
<div class = "navigation" id = "top_navigation">
    <a href = "/home">Home</a>
    {%for p in product.category.get_parents_line%}
    -><a href = "/categories/{{p.as_url}}/">{{p}}</a>
    {%endfor%}
    -><a href = "/categories/{{product.category.as_url}}">{{product.category}}</a>
    &nbsp;&lt;=== You're here!
</div>
<div id = "product_detail">
    <span class = "text_info">
        <div class = "name">{{product.name}}</div>
        <div class = "cost">Cost: {{product.cost}} &euro;</div>
        <div class = "description">Description:<br>{{product.description}}</div>
    </span>
</div>
{%endblock%}
