{%extends "base.html"%}

{%block content%}
<div class = "navigation" id = "top_navigation">
    <a href = "/home">Home</a>
    {%for p in product.category.get_parents_line%}
    -><a href = "/categories/{{p.as_url}}/">{{p}}</a>
    {%endfor%}
    -><a href = "/categories/{{product.category.as_url}}">{{product.category}}</a>
    &nbsp;&lt;=== You're here!
</div>
<div id = "product_detail">
    <span class = "text_info">
        <div class = "name">{{product.name}}</div>
        <div class = "cost">Cost: {{product.cost}} &euro;</div>
        <div class = "description">Description:<br>{{product.description}}</div>
    </span>
</div>
<hr>
    {%block comments%}
    <form action = "add_comment/" method = "post">
        <div class = "comments">
            {%for c in comments%}
            <div class = "comment" id = "comment{{c.pk}}">
                <input type = "radio" name = "answer_to" value = "{{c.pk}}">
                
                {%for i in c.iter_depth%}
                <span class = "wrap">
                {%endfor%}
                    <div class = "comment-content">
                        <span class = "header">
                            by <em><strong>{{c.owner}}</strong></em>
                            at {{c.time}}
                            <a href = "#comment{{c.pk}}">#</a>
                            {%if c.get_parent%}<a href = "#comment{{c.get_parent.pk}}">Up</a>{%endif%}
                        </span><br>
                        <div class = "comment-text">{{c.text}}</div>
                    </div>
                {%for i in c.iter_depth%}
                </span>
                {%endfor%}
            </div>
            {%endfor%}
        </div>
        <hr>
        <div class = "add_comment">
            {%csrf_token%}
            <input type = "radio" name = "answer_to" value = "0" checked>
            <!--<input type = "text" name = "answer_to">-->
            <textarea name = "text"></textarea>
            <button>Add comment</button>
        </div>
    </form>
    {%endblock%}
{%endblock%}
