<!DOCTYPE HTML>
<html>
<head>
    <title>{%block title%}django-shop{%endblock%}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC_URL}}css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{STATIC_URL}}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/shop.css" type="text/css">
    <script type = "text/javascript" src = "{{STATIC_URL}}js/jquery.js"></script>
</head>
<body>{%block fullbody%}
<div class = "container" class = "showgrid">
    <div id = "header" class = "span-24">
        <div id = "promo_header" class="span-{%block header_blueprint_size%}24{%endblock%}" class = "left large">
            {%if users_ip == '77.35.214.49'%}Hello, pousqie{%else%}~~ django-shop ~~{%endif%}
        </div>
        {%block header_right%}{pretty colourful picture}{%endblock%}
    </div>
    <div class = "span-24">{%block body%}{%endblock%}</div>
{%endblock%}</body>
