#promo_header{
    font-size: 32pt;
    text-align: center;
}

#welcome_auth_form p{
    margin: 0;
    line-height: 0.5;
}

#welcome_auth_form input{
    width: 100px;
    height: 10px;
    margin: 2px 0 1px 0;
    font-size: 10px;
}

#top_userbar button{
    height: 20px;
    font-size: 50%;
    width: 50px;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.product{
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-right: 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom:1px dashed black;
}

.product a{
    display: block;
    text-align: center;
}

.product a div{
    overflow: hidden;
    max-height: 50px;
}

.product img{
    width: 117px;
    height: 117px;
    max-width: 117px;
    max-height: 117px;
    min-width: 117px;
    min-height: 117px;
    display: block;
}

.product .description{
    min-height: 190px;
}

.comments .wrap{
    padding-left: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 4px auto;
    background-position: left 10px;
}

.comments .wrap:hover{
    background-image: url(/static/images/folding-dot-light.png);
}

input[type=radio][name=answer_to]{
    vertical-align: top;
}

.comments input[type=radio][name=answer_to]{
    visibility: hidden;
    margin-top: 7px;
}

.comment:hover input[type=radio][name=answer_to],
.comment input[type=radio][name=answer_to]:checked{
    visibility: visible;
}

.comment-content{
    background-color: white;
    max-width: 700px;
}
.comment-text{
    white-space: pre-line;
    word-wrap: break-word;
}

.answer_form{
    display: none;
}

.comments .comment form{
    padding-bottom: 30px;
}

.comments .comment textarea{
    width: 400px;
    display: block;
    height: 50px;
}

.before_form{
    position:fixed;
    width:20px;
    left:0;
    top:0;
}

.comments .before_form:target{
    display: block;
}
.comments .before_form:target + div > form{
    display: block;
}

.comment-content.just_added{
    background-color: lightBlue;
}

.mark form{
    display: inline;
}

.mark form button{
    font-size: 8pt;
    padding: 0;
}

.mark form[action^=like]{
    margin-left: 20px;
}

.mark .likes{
    color: green;
}
.mark .dislikes{
    color: red;
}
.mark .avg{
    color: blue;
}

.comment.shadowed{
    opacity: 0.2;
}
.comment.shadowed:hover{
    opacity: 1;
}
.comment.shadowed:hover hr{
    opacity: 0.2;
}